import argparse
from importlib.metadata import version


def get_args(argv=None):
    parser = argparse.ArgumentParser(prog="{{PROJECT_NAME}}")
    parser.add_argument(
        "-v",
        "--version",
        action="version",
        version=f"%(prog)s {version('{{PROJECT_NAME}}')}",
    )
    return parser.parse_args(argv)
